                /* essentials START */
                
                * {
                    padding: 0px;
                    margin: 0px;
                }
                
                a {
                    color: initial;
                    text-decoration: none;
                }
                
                a:hover {
                    text-decoration: none;
                }
                
                 ::selection {
                    background: #8f38aa;
                    color: #e5e5e5;
                }
                
                body {
                    background: rgb(238 229 252);
                    font-family: "tajawal", sans-serif;
                    min-height: 100%;
                }
                
                body.simple-page .page-body {
                    padding-top: 113px;
                    /* display: flex;
            justify-content: center; */
                }
                
                .button {
                    background: #c822fd;
                    font-size: 16px;
                    font-weight: 500;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    color: #fff !important;
                    text-transform: capitalize;
                    -webkit-transition: 0.3s;
                    -moz-transition: 0.3s;
                    -o-transition: 0.3s;
                    transition: 0.3s;
                    width: fit-content;
                    padding: 0px 10px;
                    height: 35px;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid transparent;
                    outline: none;
                    border-radius: 4px;
                    text-align: center;
                }
                
                .container {
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
                
                ul {
                    list-style: none;
                    display: flex;
                }
                
                img {
                    pointer-events: none;
                    user-select: none;
                }
                /* essentials END */
                /* nav START */
                
                .page-container {
                    position: relative;
                    min-height: 100%;
                }
                
                .page-header {
                    padding-bottom: 60px;
                }
                
                #login .page-header {
                    padding: 0px;
                }
                
                .page-header nav {
                    background: #4f2f7fa3 !important;
                    direction: rtl;
                    transition: .2s all ease-in-out;
                    padding: 0px 8px;
                }
                
                .page-header nav.scrolled {
                    background: #673da6 !important;
                    transition: .27s all ease-in-out
                }
                
                nav a.navbar-brand.logo {
                    margin: 3px 0px;
                }
                
                nav .logo img {
                    width: 65px;
                    vertical-align: middle;
                    border-style: none;
                }
                
                nav ul {
                    margin-right: 0px !important;
                    margin-left: auto !important;
                }
                
                .nav-link {
                    transition: color .15s ease-in-out, background-color .2s ease-in-out, border-color .15s ease-in-out;
                }
                
                nav ul li {
                    padding: 0px 29px;
                    border-left: 2px solid #d5bce0;
                    text-align: right;
                }
                
                nav ul li.nav-item:last-of-type {
                    border: none;
                }
                
                nav ul li a,
                nav ul li button.btn.dropdown-toggle {
                    font-size: 21px;
                    padding: 0px !important;
                    color: #f5f1d2ee !important;
                    margin-left: auto !important;
                    border: none;
                }
                
                nav ul li a.dropdown-item i {
                    padding-left: 3px;
                }
                
                .page-header nav a.nav-link i,
                nav ul li button.btn.dropdown-toggle i {
                    font-size: 15px;
                    padding: 0px;
                    color: #b662bc;
                }
                
                ul li a:hover {
                    color: #e37fdcee;
                    transition: .3s all ease-in-out;
                }
                
                nav ul li.btn-group.nav-item {
                    width: fit-content;
                    height: fit-content;
                    display: flex;
                    flex-direction: column;
                }
                
                ul.dropdown-menu {
                    background: #651f7b;
                    transition: .2s all ease;
                }
                
                ul.dropdown-menu.show li {
                    border: none;
                    padding: 0px;
                }
                
                .dropdown-item {
                    padding: 0.38rem 1rem !important;
                }
                
                .dropdown-item:focus,
                .dropdown-item:hover,
                .dropdown-item:active {
                    color: #2d0f36!important;
                    color: #1e2125;
                    background-color: #d169f2;
                }
                
                ul.dropdown-menu.show li * {
                    font-size: 14px;
                }
                
                a.cart.iconRound {
                    width: 55px;
                    height: 55px;
                    font-size: 11px;
                    text-align: initial !important;
                }
                
                a.cart.iconRound:before {
                    display: none;
                }
                
                a.cart.iconRound:hover {
                    color: #a50ed7;
                    transition: .2s all ease-in-out;
                }
                
                .badge {
                    background: #8f38aa !important;
                }
                
                .cart .badge {
                    font-size: .85em;
                }
                /* nav END */
                /* Body START */
                
                #home .banner {
                    background: url(../img/banners/banner4.jpg);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-attachment: auto;
                }
                
                #login .banner {
                    background: url(../img/banners/banner2.jpg);
                    background-position: 0px -190px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    /* background-attachment: fixed; */
                    height: 155%;
                }
                
                .page-header .banner {
                    position: relative;
                    max-width: 100%;
                    height: 85vh;
                }
                
                .banner .layer {
                    width: 100%;
                    height: 100%;
                    color: #e9beee;
                    background: #1a043a57;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                    position: absolute;
                    z-index: 20;
                    backdrop-filter: blur(2.7px);
                }
                
                #login .banner .layer {
                    background: #1a043a94;
                    backdrop-filter: blur(3px);
                }
                
                .layer h1 {
                    font-size: 80px;
                    font-family: 'Aclonica', sans-serif;
                    margin-bottom: 40px;
                    text-shadow: 4px 2px 2px #1a043abf;
                }
                
                .mouseScroll .botn {
                    height: 50px;
                    width: 30px;
                    border: 2px solid #eae5d7;
                    position: absolute;
                    left: 50%;
                    bottom: 40px;
                    border-radius: 50px;
                    user-select: none;
                    cursor: pointer;
                }
                
                .mouseScroll .botn::before,
                .mouseScroll .botn::after {
                    content: "";
                    position: absolute;
                    top: 20%;
                    left: 50%;
                    height: 10px;
                    width: 10px;
                    transform: translate(-50%, -100%) rotate(45deg);
                    border: 2px solid #eae5d7;
                    border-top: transparent;
                    border-left: transparent;
                    animation: scroll-down 1s ease-in-out infinite;
                }
                
                .mouseScroll .botn::before {
                    top: 30%;
                    animation-delay: 0.3s;
                    /* animation: scroll-down 1s ease-in-out infinite; */
                }
                
                .page-body {
                    /* padding: 10px; */
                }
                
                .page-body .nav {
                    justify-content: center;
                }
                
                .nav-tabs .nav-item.show .nav-link,
                .nav-tabs .nav-link.active {
                    border-color: #daa8ff8a #dee2e6 #edd5ff8a;
                    background: #daa8ff8a;
                }
                
                a.nav-link i {
                    font-size: 4em;
                    padding: 0px 28px;
                    color: #651f7b;
                }
                
                .price-filter {
                    justify-content: space-between;
                    display: flex;
                    flex-wrap: wrap;
                }
                /* Special styling for WebKit/Blink */
                
                .price-filter input[type=range]::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    border: 1px solid #000000;
                    height: 30px;
                    width: 12px;
                    border-radius: 3px;
                    background: #ffffff;
                    cursor: pointer;
                    margin-top: -14px;
                    /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
                    box-shadow: 1px 1px 1px #0000005e, 0px 1px 1px #0d0d0d;
                    /* Add cool effects to your sliders! */
                }
                /* All the same stuff for Firefox */
                
                input[type=range]::-moz-range-thumb {
                    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
                    border: 1px solid #000000;
                    height: 36px;
                    width: 16px;
                    border-radius: 3px;
                    background: #ffffff;
                    cursor: pointer;
                }
                /* All the same stuff for IE */
                
                input[type=range]::-ms-thumb {
                    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
                    border: 1px solid #000000;
                    height: 36px;
                    width: 16px;
                    border-radius: 3px;
                    background: #ffffff;
                    cursor: pointer;
                }
                
                input[type=range]::-webkit-slider-runnable-track {
                    width: 100%;
                    height: 8.4px;
                    cursor: pointer;
                    box-shadow: #686868cc 0px 3px 5px, 0px 0px 1px #0d0d0d;
                    background: #673da6;
                    border-radius: 1.3px;
                    border: 0.1px solid #01010163;
                }
                
                label.form-label {
                    font-family: 'Aclonica';
                }
                
                svg.bd-placeholder-img.card-img-top {
                    height: 280px;
                }
                
                .container form.d-flex {
                    padding-bottom: 20px;
                }
                
                input.form-control {
                    text-align: right;
                }
                
                button.btn.input-group-text {
                    background: #d169f2;
                }
                
                button.btn.input-group-text:hover {
                    color: #e7dde7;
                    background-color: #9f00ff;
                    border-color: #d169f2;
                }
                
                .tab-pane .container {
                    padding-top: 0px;
                }
                
                .section-container.row {
                    justify-content: flex-end;
                    margin-bottom: 30px;
                }
                
                .section-header {
                    position: relative;
                    padding: 0px;
                    margin: 2rem 0rem;
                    flex-direction: row-reverse;
                }
                
                .section-header:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    height: 2px;
                    background-color: #651f7b;
                    z-index: -5;
                }
                
                .section-header .section-title {
                    color: #651f7b;
                    font-size: 27px;
                    font-family: 'Kelly Slab', sans-serif;
                    font-weight: 600;
                    background: #eee5fc;
                    padding: 0rem 1rem;
                    display: flex;
                    margin: auto;
                }
                
                .section-header .section-title span {
                    margin-left: 5px;
                }
                
                .partition-header {
                    font-family: 'tajawal', sans-serif;
                }
                
                .partition-header:before {
                    height: 1px;
                    background-color: #aa3ecc;
                }
                
                .partition-header .partition-title {
                    font-size: 18px;
                    font-family: 'tajawal', sans-serif;
                    font-weight: 900;
                    color: #aa3ecc;
                    margin: unset;
                    padding-right: 0px;
                }
                
                .card {
                    margin-bottom: 0.625rem;
                    border: 1px solid #8c40a4ad;
                    padding: 0px;
                }
                
                .image {
                    width: 100%;
                    height: unset !important;
                    position: relative;
                    overflow: hidden;
                }
                
                .image img {
                    width: 100%;
                    height: unset;
                }
                
                .image .layer {
                    display: flex;
                    position: absolute;
                    top: 100%;
                    width: 100%;
                    height: 100%;
                    background: #000000cc;
                    color: #fff;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    transition: .3s all ease-in-out;
                    -webkit-transition: all .2s ease-out;
                    -moz-transition: all .2s ease-out;
                    -o-transition: all .2s ease-out;
                    transition: all .2s ease-out;
                    visibility: hidden;
                }
                
                .image .layer i,
                .image .layer label {
                    font-size: 3.125rem;
                    cursor: pointer;
                }
                
                .image:hover .layer {
                    visibility: visible;
                    top: 0;
                }
                
                .wish i,
                .wishlabel {
                    transition: .09s all linear !important;
                }
                
                .wish i.clicked,
                .wish label.clicked {
                    color: #d169f2 !important;
                }
                
                .cardcontainer {
                    padding: 8px 4px 0px 4px;
                }
                
                .card-body {
                    /* min-height: 300px; */
                    padding: 0px;
                    padding-top: 1rem;
                }
                
                .ribbon {
                    position: absolute;
                    top: -4px;
                    right: 7;
                    background: #e48fff;
                    color: #6f197e;
                    display: block;
                    padding: 9px;
                    box-shadow: 1px 6px 5px -2px rgb(59 1 54);
                    font-family: 'kelly slab';
                    font-weight: 900;
                    user-select: none;
                }
                
                .ribbon:after {
                    content: '';
                    position: absolute;
                    left: -4px;
                    top: 0;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 4px 0 0 4px;
                    -webkit-transform: rotate(270deg);
                    -ms-transform: rotate(270deg);
                    transform: rotate(270deg);
                    border-color: transparent transparent transparent #ad859f;
                }
                
                .ribbon:before {
                    content: '';
                    position: absolute;
                    right: -4px;
                    top: 0;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 4px 0 0 4px;
                    border-color: transparent transparent transparent #ad859f;
                }
                
                .card-title {
                    color: #000000b8;
                    -webkit-text-stroke: #690e86 1px;
                    /* font-size: 22px; */
                }
                
                .card .btn-group.card_footer {
                    width: 100%;
                    text-align: center;
                    color: #77356c;
                    border-top: 1px solid #8c40a4;
                    align-items: center;
                    position: relative;
                    bottom: 0;
                    left: 0;
                    margin-top: 2.5rem;
                }
                
                .card .btn-group.card_footer .price-t {
                    width: 34%;
                    font-family: 'kelly slab', sans-serif;
                    letter-spacing: 0.6px;
                }
                
                .card .btn {
                    display: flex;
                    align-items: baseline;
                    justify-content: center;
                }
                
                .card .btn,
                .outofstock {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #77356c;
                    background-color: transparent;
                    border-left-color: #8c40a4;
                    border-left-style: ridge;
                    border-width: 1px;
                    border-radius: 0px;
                    order: 1;
                    height: 41px;
                    padding: 0px;
                    text-align: center;
                }
                
                .card .btn i,
                .card .btn input {
                    border: none;
                    /* padding: 5px; */
                    padding: 0px;
                    margin: 0px !important;
                    outline: none;
                    pointer-events: none;
                }
                
                .card .btn i {
                    padding-left: 8px;
                }
                
                .card .btn input {
                    width: fit-content;
                    max-height: 100%;
                    width: 60%;
                    height: 100%;
                    /* padding: .375rem; */
                    order: -5;
                }
                
                .outofstock {
                    margin-left: auto;
                    width: 60%;
                    cursor: not-allowed;
                    user-select: none;
                }
                
                .card .btn:hover {
                    color: #e7dde7;
                    background-color: #8207c7;
                    /* border-color: #d169f2; */
                }
                
                .card .btn:hover>* {
                    color: #e7dde7;
                }
                
                .outofstock {
                    color: #f00;
                }
                
                .card .btn:hover>i {
                    font-size: 17px;
                    transition: 0.07s all ease-in-out;
                }
                
                .row {
                    justify-content: center;
                }
                
                .row>* {
                    text-align: right;
                }
                
                .card .platforms {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                }
                
                .card .platforms h5 {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 15px;
                    font-size: 22px;
                    text-shadow: #00000054 0px 4px 5px;
                }
                
                .card .platforms i {
                    margin: 0px 6px;
                    font-size: 21px;
                }
                /* Swiperjs  START */
                
                .slider-container {
                    background: #7a4dbd;
                }
                
                .swiper-container {
                    width: 100%;
                    height: 470px;
                    user-select: none;
                }
                
                .swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    /* background: #fff; */
                    width: 40%;
                    /* Center slide text vertically */
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                }
                
                .quote {
                    color: #e9e1ce;
                }
                
                .quote p {
                    /* background: #fff; */
                    position: relative;
                    padding: 2.5rem 1rem 1.5rem;
                    border: 1px solid #e9cfe4;
                    -webkit-box-shadow: 3px 3px 4px 0 rgb(0 0 0 / 30%);
                    box-shadow: 3px 3px 4px 0 rgb(0 0 0 / 30%);
                    border-radius: 5px;
                    margin-bottom: 1.5rem;
                    width: 90%;
                    margin: auto;
                }
                
                .quote p:before {
                    content: "";
                    position: absolute;
                    right: 40px;
                    bottom: -20px;
                    border: 10px solid transparent;
                    border-top-color: #7a4dbd;
                }
                
                .quote p:after {
                    content: "";
                    position: absolute;
                    right: 38px;
                    bottom: -24px;
                    border: 12px solid transparent;
                    border-top-color: #fffbfe;
                    z-index: -1;
                }
                
                .quote img {
                    width: unset;
                    height: 85px;
                }
                
                .review .user {
                    display: flex;
                    flex-direction: row-reverse;
                    padding-top: 5px;
                }
                
                .text-right {
                    text-align: right;
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                }
                
                ul.rating {
                    margin: 0px;
                    margin-right: .5rem;
                }
                
                ul.rating li {
                    color: #ebb207;
                }
                
                .swiper-pagination-bullet-active {
                    background: #e9cfe4;
                }
                /* Swiperjs END */
                
                .choose {
                    align-items: baseline;
                    text-align: right;
                }
                
                .choose h1 {
                    width: 100%;
                    padding: 40px 0px;
                    text-transform: uppercase;
                    /* letter-spacing: 5px; */
                    text-align: center;
                }
                
                .reason {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    text-align: center;
                    margin-bottom: 50px;
                }
                
                .reason h3 {
                    font-size: 22px;
                    letter-spacing: normal;
                    margin-bottom: 10px;
                }
                
                .iconRoundWrap {
                    display: inline-block;
                    margin-bottom: 20px;
                    width: 100%;
                }
                
                .iconRound {
                    width: 80px;
                    height: 80px;
                    background: #d169f2;
                    color: #651f7b;
                    border-radius: 50%;
                    position: relative;
                    box-shadow: #00000040 1px 5px 12px 0px;
                    margin: auto;
                }
                
                .iconRound:before {
                    content: " ";
                    display: block;
                    width: 70px;
                    height: 70px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border: 1.9px dotted #671582;
                    border-radius: 100%;
                }
                
                .iconRound i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    font-size: 2em;
                }
                
                nav .iconRound i {
                    position: absolute;
                    top: 31%;
                    left: 26%;
                    /* -webkit-transform: translate(-50%, -50%); */
                    transform: none !important;
                    font-size: 2em;
                }
                
                .description p {
                    font-size: 15px;
                    color: #777;
                }
                /* Body END */
                /* footer START */
                
                .not-footer {
                    padding-bottom: 15.5rem;
                }
                
                footer.page-footer {
                    margin-bottom: 0px !important;
                    user-select: none;
                    background: #12012b;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    direction: ltr !important;
                }
                
                footer.page-footer.text-muted {
                    color: #97a5b0!important;
                }
                
                footer ul {
                    padding: 10px;
                    margin: 0px;
                    display: block;
                }
                
                ul.social0media {
                    margin: auto;
                    width: fit-content;
                    padding: 0px;
                }
                
                li.list-inline-item a {
                    color: #f5f1d2ee;
                }
                
                .list-inline-item:last-child {
                    margin-right: .5rem !important;
                }
                
                footer ul li a:hover {
                    color: #d169f2;
                }
                
                footer .social0media a {
                    font-size: 17px;
                }
                
                ul.list-inline.payments {
                    background: rgb(238 229 252);
                }
                
                ul.payments li img {
                    width: unset!important;
                    max-width: unset!important;
                    height: 18px;
                }
                
                footer .email {
                    user-select: text;
                    padding-top: 10px;
                }
                /* footer END */
                /* Login START */
                
                .login-container {
                    margin-top: -14%;
                    margin-bottom: 5%;
                }
                
                #login .not-footer {
                    padding-bottom: 12.75rem;
                }
                
                .login-container input.btnSubmit {
                    text-align: center;
                }
                
                .form-control {
                    display: block;
                    width: 100%;
                    height: calc(1.5em + .75rem + 2px);
                    padding: .375rem .75rem;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #444;
                    background-color: #fff;
                    background-clip: padding-box;
                    border: 1px solid #cbc8d0;
                    border-radius: 0;
                    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
                    height: 52px;
                }
                
                .login-form-2 {
                    padding: 5%;
                    /* box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19); */
                }
                
                .login-container h3 {
                    text-align: center;
                }
                
                .login-form-1 h3 {
                    color: #333;
                }
                
                .login-form-1 {
                    padding: 5%;
                    background: #a662bc;
                    /* box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19); */
                }
                
                .login-form-1 h3 {
                    text-align: center;
                    color: #fff;
                }
                
                .login-container form {
                    padding: 10%;
                }
                
                .btnSubmit {
                    width: 50%;
                    border-radius: 1rem;
                    padding: 1.5%;
                    border: none;
                    cursor: pointer;
                    outline: none;
                }
                
                .login-form-2 .btnSubmit {
                    font-weight: 600;
                    color: #fff;
                    background-color: #a662bc;
                }
                
                .login-form-1 .btnSubmit {
                    font-weight: 600;
                    color: #a662bc;
                    background-color: #fff;
                }
                
                .login-form-1 .ForgetPwd {
                    color: #fff;
                    font-weight: 600;
                    text-decoration: none;
                }
                
                .login-form-2 .ForgetPwd {
                    color: #a662bc;
                    font-weight: 600;
                    text-decoration: none;
                }
                
                div#error.alert-danger {
                    padding-right: 2rem;
                }
                
                .checkbox {
                    display: inline-block;
                    width: fit-content;
                }
                
                .checkbox-container {
                    width: 100%;
                    height: 100%;
                    display: flex;
                }
                
                .checkbox input {
                    display: none;
                }
                
                .checkbox label {
                    position: relative;
                    padding-right: 26px;
                    color: #a662bc;
                    margin-bottom: 0;
                    font-weight: 600;
                    font-size: inherit;
                }
                
                .checkbox label::before {
                    content: '';
                    position: absolute;
                    top: 3px;
                    right: 0;
                    width: 19px;
                    height: 18px;
                    border: 1px solid;
                    border-color: #a662bc;
                    border-radius: 2px;
                    background-color: transparent;
                }
                
                .checkbox label:after {
                    position: absolute;
                    padding-right: 3px;
                    font-size: 10px;
                    color: #a662bc;
                }
                
                .checkbox input:checked+label::before {
                    border-color: #a662bc;
                    background: #a662bc;
                    transition: .3s all ease-in-out;
                }
                
                .checkbox input:checked+label::after {
                    font-family: 'Font Awesome 5 Free';
                    content: "\f00c";
                    font-weight: 900;
                    color: #fff;
                    right: 1px;
                    top: 4.7px;
                    transition: .2s all ease-in-out;
                }
                
                .checkbox input:checked+label {
                    color: #a662bc;
                    transition: .3s all ease-in-out;
                }
                
                .form-group {
                    margin-bottom: 1rem;
                    display: flex;
                    justify-content: center;
                }
                
                .checkforget {
                    justify-content: space-between;
                }
                
                .check {
                    justify-content: flex-end;
                }
                
                .login-form-1 .checkbox {
                    font-family: 'tajwal', sans-serif;
                }
                
                .login-form-1 .checkbox label {
                    font-size: 16px;
                }
                
                .login-form-1 .checkbox,
                .login-form-1 .checkbox input:checked+label,
                .login-form-1 .checkbox label::before,
                .login-form-1 .checkbox label:after,
                .login-form-1 .checkbox label {
                    color: #fff;
                    border-color: #fff;
                }
                
                .login-form-1 .checkbox input:checked+label::before {
                    border-color: #fff;
                    background: #fff;
                    transition: .3s all ease-in-out;
                }
                
                .login-form-1 .checkbox input:checked+label:after {
                    color: #a662bc;
                }
                
                .checkbox label a {
                    color: #593196;
                }
                
                #login footer {
                    margin: 0px !important;
                }
                /* Login END */
                /* Checkout START */
                
                body#checkout {
                    font-family: 'tajawal', sans-serif;
                    background: rgb(238 229 252) !important;
                }
                
                .steps-line {
                    position: relative;
                    margin: 0;
                    width: 100%;
                    height: 50px;
                    margin: 30px 0px;
                    padding: 0;
                    background: 0 0!important;
                    z-index: 1;
                    user-select: none;
                }
                
                .the-container {
                    position: relative;
                    max-width: 1024px;
                    margin-right: auto;
                    margin-left: auto;
                }
                
                .checkout-steps {
                    position: relative;
                    max-width: 800px;
                    margin: 0 auto!important;
                }
                
                .step-box {
                    position: absolute;
                    top: -18px;
                    right: 0;
                    left: 0;
                    width: 94%;
                    margin: 0 auto;
                    z-index: 99;
                }
                
                .step-line {
                    position: relative;
                    top: 0px;
                    right: 0;
                    left: 0;
                    margin: 0 auto;
                    height: 2px;
                    width: 85%;
                    border: 1px solid #682084;
                    vertical-align: baseline;
                    z-index: 1;
                }
                
                .step {
                    width: 33.33%;
                    float: right;
                    z-index: 99;
                }
                
                .step-number {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    padding-top: 2px;
                    text-align: center;
                    color: #d4feeb;
                    background: #fff;
                    font-size: 14px;
                    border: 2px solid #d4feeb;
                    border-radius: 4px 10px 10px 4px;
                    z-index: 10;
                    font-weight: 900;
                }
                
                .step-number {
                    background: #eee5fc;
                    border: 2px solid red;
                    width: 35px!important;
                    height: 35px!important;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    margin-right: auto;
                    margin-bottom: 5px !important;
                }
                
                .step-active .step-number {
                    color: #fff;
                    width: 35px;
                    height: 35px;
                    padding-top: 5px;
                    background: #651f7b;
                    border-color: #682084;
                }
                
                .step-number {
                    color: #682084;
                    border-color: #682084;
                }
                
                .step-title {
                    color: #682084 !important;
                    font-size: 16px;
                }
                
                .step:last-of-type {
                    text-align: left;
                }
                
                .step:first-of-type .step-number {
                    margin: 0;
                }
                
                .step:nth-last-of-type(2) .step-number {
                    border-radius: 10px;
                }
                
                .step:last-of-type .step-number {
                    border-radius: 10px 4px 4px 10px;
                }
                /* .btn-group-vertical>.btn-group:after,
                    .btn-toolbar:after,
                    .clearfix:after,
                    .container-fluid:after,
                    .container:after,
                    .dl-horizontal dd:after,
                    .form-horizontal .form-group:after,
                    .modal-footer:after,
                    .nav:after,
                    .navbar-collapse:after,
                    .navbar-header:after,
                    .navbar:after,
                    .pager:after,
                    .panel-body:after,
                    .row:after {
                        clear: both;
                    }
                    
                    .btn-group-vertical>.btn-group:after,
                    .btn-group-vertical>.btn-group:before,
                    .btn-toolbar:after,
                    .btn-toolbar:before,
                    .clearfix:after,
                    .clearfix:before,
                    .container-fluid:after,
                    .container-fluid:before,
                    .container:after,
                    .container:before,
                    .dl-horizontal dd:after,
                    .dl-horizontal dd:before,
                    .form-horizontal .form-group:after,
                    .form-horizontal .form-group:before,
                    .modal-footer:after,
                    .modal-footer:before,
                    .nav:after,
                    .nav:before,
                    .navbar-collapse:after,
                    .navbar-collapse:before,
                    .navbar-header:after,
                    .navbar-header:before,
                    .navbar:after,
                    .navbar:before,
                    .pager:after,
                    .pager:before,
                    .panel-body:after,
                    .panel-body:before,
                    .row:after,
                    .row:before {
                        content: " ";
                        display: table;
                    } */
                
                .step:nth-child(2) {
                    text-align: center;
                }
                
                #checkout .card,
                #checkout .card .card-body {
                    border: none;
                    margin: 0px;
                    padding: 0px;
                    justify-content: flex-start;
                    justify-content: right;
                    display: flex;
                }
                
                #checkout ul.list-group li span {
                    margin: auto 0;
                    text-align: left;
                }
                
                #checkout li.list-group-item .text-success {
                    width: fit-content;
                    margin-left: auto;
                    text-align: right;
                }
                
                #checkout li.list-group-item .text-success>h6 {
                    font-size: .8rem;
                }
                
                #checkout .card.card-min .card-title img {
                    width: 90px;
                }
                
                #checkout .card.card-min .card-title h5 {
                    font-size: 14px;
                    order: 8;
                }
                
                .confrimpayment {
                    background: #682084;
                    border-color: #682084;
                    transition: .14s all linear;
                    white-space: nowrap;
                    width: fit-content !important;
                    margin: auto;
                    display: block;
                    direction: rtl;
                }
                
                .confrimpayment i {
                    padding: 2px 5px;
                }
                
                .confrimpayment:hover {
                    color: #000;
                    background-color: #d169f2;
                    border-color: #d169f2;
                }
                /* empty checkout */
                
                .emptyicon {
                    opacity: .7;
                    margin: auto;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    user-select: none;
                    text-align: center;
                }
                
                .emptyicon>* {
                    margin: 8px auto;
                    display: block;
                }
                
                .emptyicon>i {
                    font-size: 110px;
                }
                
                .order-id {
                    display: flex !important;
                    padding: 0px 30px;
                    border: 1px solid #651f7b;
                    user-select: text;
                    cursor: text;
                    align-items: center;
                    /* display: flex; */
                }
                
                .order-id>* {
                    margin: 8px 0px;
                }
                
                .order-id span {
                    display: inline-block;
                    color: #000;
                    font-weight: 900;
                    margin: 2px 6px;
                }
                /* empty checkout */
                
                .py-5 {
                    padding-top: 105px !important;
                    padding-bottom: 3rem!important;
                }
                
                .list-group-item {
                    width: 100%;
                    margin: auto;
                }
                
                .list-group-item,
                .list-group-item:hover {
                    color: #000;
                }
                /* Checkout END */
                /* DMCA START */
                
                .simple-page {
                    text-align: center;
                }
                
                .simple-page .text,
                .simple-page h1,
                .simple-page h2,
                .simple-page h3,
                .simple-page h4,
                .simple-page h5,
                .simple-page h6 {
                    width: 80%;
                    padding: 40px;
                    margin: auto;
                    text-align: center;
                }
                
                #checkout button.btn.btn-secondary {
                    height: auto;
                    padding: .375rem .75rem;
                }
                
                .simple-page p.text {
                    font-size: 1.188rem;
                }
                
                .simple-page img.bugs {
                    display: block;
                    margin: auto;
                    width: 31.25rem;
                    height: unset;
                }
                
                input,
                label,
                textarea {
                    text-align: right;
                }
                
                .form-floating>label {
                    left: unset;
                    right: 0;
                }
                /* DMCA END */
                /* license START */
                
                ul.license {
                    flex-direction: column;
                    padding: 20px;
                    list-style: arabic-indic;
                    direction: rtl;
                }
                
                ul.license li {
                    padding: 10px;
                }
                
                ul.license li::marker {
                    font-size: 20px;
                }
                /* license END */
                /* underM START */
                
                i.fas.fa-robot {
                    display: block;
                    font-size: 130px;
                    margin: 27px 0px;
                }
                /* underM END */
                
                textarea#floatingReview {
                    min-height: 10rem;
                }
                /* test */
                
                .rating {
                    float: left;
                }
                /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
            follow these rules. Every browser that supports :checked also supports :not(), so
            it doesn’t make the test unnecessarily selective */
                
                .rating:not(:checked)>input {
                    position: absolute;
                    top: -9999px;
                    clip: rect(0, 0, 0, 0);
                }
                
                .rating:not(:checked)>label {
                    float: right;
                    width: 1em;
                    /* padding:0 .1em; */
                    overflow: hidden;
                    white-space: nowrap;
                    cursor: pointer;
                    font-size: 300%;
                    /* line-height:1.2; */
                    color: #ddd;
                }
                
                .rating:not(:checked)>label:before {
                    content: '★ ';
                }
                
                .rating>input:checked~label {
                    color: #c822fd;
                }
                
                .rating:not(:checked)>label:hover,
                .rating:not(:checked)>label:hover~label {
                    color: #c822fd;
                }
                
                .rating>input:checked+label:hover,
                .rating>input:checked+label:hover~label,
                .rating>input:checked~label:hover,
                .rating>input:checked~label:hover~label,
                .rating>label:hover~input:checked~label {
                    color: #c822fd;
                }
                
                .rating>label:active {
                    position: relative;
                    top: 2px;
                    left: 2px;
                }
                
                .ra {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: nowrap;
                    margin-top: 21px;
                }
                
                .ra span.readrating {
                    font-size: 23px;
                }
                /* test */
                /* user profile START */
                /* .user {
                margin-top: 10%;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                flex-direction: column;
                text-align: center;
            }
            
            */
                
                .profilePhoto {
                    position: relative;
                    width: 16.5rem;
                    height: unset;
                    margin: auto;
                    margin-bottom: 2rem;
                    background: #fff;
                    border-radius: 7px;
                }
                
                .profilePhoto img {
                    width: 100%;
                    border-radius: 7px;
                    pointer-events: none;
                    padding: 5px;
                }
                
                .profilePhoto,
                .profilePhoto img,
                .profilePhoto .layer:hover {
                    border-radius: 100%;
                    padding: 0px;
                }
                
                .user .userName {
                    font-size: 36px;
                    font-weight: 100;
                    font-family: 'bree serif', sans-serif;
                    text-transform: capitalize;
                }
                
                #settings input.btn.button {
                    margin: auto;
                }
                /* .joined-since.text-muted {
                    font-size: 14px;
                }
                
                .activity-status {
                    width: 23px;
                    height: 23px;
                    display: inline-block;
                    margin: -2px 6px 0 0;
                    background: #d5d5d5;
                    vertical-align: middle;
                    border-radius: 100%;
                    position: absolute;
                    top: 12px;
                    right: 11px;
                    box-shadow: 0px 2px 3px 0px #00000057;
                }
                
                .activity-status.online {
                    background: #88e669;
                }
                    */
                
                .modal {
                    text-align: right;
                }
                
                .modal-header {
                    display: flex;
                    flex-direction: row-reverse;
                }
                
                .modal .modal-header .btn-close {
                    padding: .5rem;
                    margin: -.5rem auto -.5rem -.5rem;
                }
                
                .modal .account>* {
                    padding: 8px 0px;
                }
                
                .modal.date {
                    font-size: 19px;
                }
                
                .modal .date span {
                    font-size: 13px;
                    padding: 7px;
                }
                
                .modal table {
                    direction: rtl;
                }
                
                .modal table tr td:not(first-of-type) {
                    text-align: center;
                }
                
                .modal table tr td:last-of-type {
                    text-align: left;
                }
                
                .account-title h5 {
                    font-size: 17px;
                    text-align: center;
                    font-weight: 900;
                }
                
                .modal .account .email input,
                .modal .account .password input {
                    text-align: left;
                    cursor: text;
                }
                
                .form-control:disabled,
                .form-control[readonly] {
                    background-color: #fff;
                    opacity: 1;
                }
                
                .card.card-min .btn-group>* {
                    border-color: #8c40a4 !important;
                }
                
                .btn-group,
                .btn-group-vertical {
                    position: relative;
                    display: inline-flex;
                    flex-wrap: wrap;
                    vertical-align: middle;
                }
                
                .input-group-text {
                    background-color: #e5dafa;
                    width: 85px;
                    border-radius: .25rem;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                }
                
                .card.card-min {
                    margin-top: 50px;
                    text-align: right;
                }
                
                .card.card-min .card-header h5 {
                    margin: auto;
                }
                
                .card.card-min .card-body {
                    padding: 20px;
                }
                
                .card-min .card-title {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }
                
                .card.card-min .card-title h5 {
                    width: 70%;
                    order: -8;
                    padding-right: 20px;
                }
                
                .card.card-min .card-title img {
                    width: 6.938rem;
                    height: unset;
                    border-radius: 13px;
                    background: #690e86;
                    padding: 4px;
                }
                
                .card.card-min .btn-group {
                    width: 100%;
                }
                
                .card-min .btn-group .btn i {
                    padding: 20px;
                }
                
                .card .btn input {
                    width: fit-content;
                }
                
                #checkout ul.list-group li-item.d-flex.justify-content-between.lh-sm.row {
                    max-width: 100%;
                    margin: auto;
                }
                
                #checkout ul.list-group li>div.col-3 {
                    display: flex;
                    position: relative;
                    justify-content: left;
                    flex-wrap: wrap;
                    flex-flow: column;
                }
                
                .delete-button {
                    margin: 4px 0px;
                    margin-right: auto;
                    width: 22px;
                    height: 22px;
                    padding: 11px;
                    text-align: center;
                    color: #f55157;
                    border: 2px solid #f55157;
                    border-radius: 99px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    transition: .04s linear all;
                }
                
                .delete-button:hover {
                    color: #fff;
                    border: 2px solid transparent;
                    background: #f55157;
                }
                
                .add-minus-btn.btn-group {
                    direction: ltr;
                    margin: auto;
                    display: flex;
                }
                
                .btn-group.add-minus-btn .button {
                    padding: 0px;
                    transition: .2s all linear;
                    background: transparent;
                    color: #000 !important;
                    border: 1px solid #651f7b;
                    font-weight: 900;
                    border-radius: 1px;
                }
                
                .btn-group.add-minus-btn input.product-count {
                    text-align: center;
                    font-size: 20px;
                    width: 50%;
                    border-radius: 0px;
                    border: 1px solid #651f7b;
                    border-left: 0px;
                    outline: none;
                    font-weight: 500;
                }
                
                input[type="number"].product-count {
                    -webkit-appearance: textfield;
                    -moz-appearance: textfield;
                    appearance: textfield;
                }
                
                input[type=number].product-count::-webkit-inner-spin-button,
                input[type=number].product-count::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                }
                
                .card hr.offer-split {
                    width: 80%;
                    margin: 25px auto;
                }
                
                .inputfile {
                    width: 0.1px;
                    height: 0.1px;
                    opacity: 0;
                    overflow: hidden;
                    position: absolute;
                    z-index: -1;
                }
                
                .inputfile+label {
                    font-size: 1.25em;
                    font-weight: 700;
                    color: #f5f1d2ee;
                    background-color: #8871ac;
                    display: inline-block;
                    padding: 20px 30px;
                    border-radius: 5px;
                    cursor: pointer;
                    word-break: break-all;
                    text-align: center;
                    user-select: none;
                    transition: .12s all linear;
                }
                
                .inputfile:focus+label,
                .inputfile+label:hover {
                    background-color: #471258;
                }
                
                .inputfile:focus+label {
                    outline: 1px dotted #000;
                    outline: -webkit-focus-ring-color auto 5px;
                }
                
                .inputfile+label * {
                    pointer-events: none;
                }
                
                .input-group a i {
                    color: #651f7b;
                }
                
                .add-photo {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
                /* user profile END */
                
                hr.minihr {
                    height: 1px;
                    padding: 0px !important;
                    width: 50%;
                    margin: 15px auto;
                }
                /* animations START */
                
                @keyframes scroll-down {
                    0% {
                        /* top:20%; */
                        opacity: 0;
                    }
                    30% {
                        opacity: 1;
                    }
                    60% {
                        opacity: 1;
                    }
                    100% {
                        top: 90%;
                        opacity: 0;
                    }
                }
                /* animations END */
                /* Responsive START */
                
                @media(max-width:1200px) {
                    .card .btn,
                    .price-t,
                    .outofstock {
                        font-size: 13px;
                    }
                }
                
                @media(max-width:1100px) {
                    a.nav-link i,
                    ul li button.btn.dropdown-toggle i {
                        font-size: 2.6em;
                        padding: 10px;
                    }
                    nav ul li a.nav-link,
                    ul li button.btn.dropdown-toggle {
                        font-size: 16px !important;
                    }
                    .page-header nav a.nav-link i,
                    ul li button.btn.dropdown-toggle i {
                        font-size: 12px !important;
                    }
                }
                
                @media(max-width:991px) {
                    .reason {
                        display: block;
                    }
                    .swiper-slide {
                        width: 500px;
                    }
                    nav ul li a.nav-link,
                    ul li button.btn.dropdown-toggle {
                        font-size: 12px !important;
                    }
                }
                
                @media (max-width:768px) {
                    nav ul li {
                        border: none;
                    }
                    .tab-content .card img {
                        width: 100%;
                        height: unset;
                    }
                    .card-title {
                        margin-bottom: .5rem;
                        font-size: 16px;
                    }
                    .card-text:last-child {
                        margin-bottom: 0;
                        font-size: 12px;
                    }
                    .card p.card-text {
                        font-size: 15px;
                    }
                    /* .card .btn,
                            .price-t {
                            font-size: 16px;
                            } */
                    .col-6.col-md-4.col-lg-3 {
                        padding: 5px;
                    }
                    a.cart.iconRound {
                        width: 50px;
                        height: 50px;
                        font-size: 11px;
                        order: -4;
                        margin: 0px;
                    }
                    nav ul li {
                        padding: 15px 20px;
                    }
                    ul li a.nav-link,
                    ul li button.btn.dropdown-toggle {
                        font-size: 16px !important;
                    }
                    .card-min .btn-group .btn i {
                        padding: 9px;
                    }
                }
                
                @media(max-width:600px) {
                    .simple-page .text {
                        width: 95%;
                        padding: 0px;
                        font-size: 1rem !important;
                    }
                    ul.license li {
                        padding: 20px 0px;
                    }
                    .simple-page img.bugs {
                        width: 18.25rem;
                    }
                }
                
                @media (max-width:500px) {
                    .layer h1 {
                        font-size: 70px;
                    }
                    .layer h3 {
                        font-size: 18px;
                    }
                    .swiper-slide {
                        width: 100%;
                    }
                    .card .btn,
                    .price-t {
                        font-size: 12px;
                    }
                    .inputfile+label {
                        font-size: 0.93rem;
                        padding: 16px;
                    }
                    .card p.card-text {
                        font-size: 12px;
                    }
                }
                
                @media(max-width:425px) {
                    a.nav-link,
                    ul li button.btn.dropdown-toggle {
                        font-size: 14px !important;
                    }
                    .card .btn,
                    .price-t {
                        font-size: 10px;
                    }
                    .card .btn:hover>i {
                        font-size: 14px;
                    }
                    #settings input.form-control {
                        width: 100%;
                        order: 10;
                    }
                    #settings button.input-group-text {
                        width: 100%;
                        order: -10;
                    }
                }
                
                @media(max-width:400px) {
                    a.nav-link i,
                    ul li button.btn.dropdown-toggle i {
                        font-size: 2em !important;
                        padding: 10px !important;
                    }
                }
                
                @media(max-width:370px) {
                    .col-6.col-md-4.col-lg-3 {
                        width: 90%;
                        margin: auto;
                    }
                    .card.card-min .card-title h5 {
                        padding-right: 15px;
                        font-size: 16px;
                    }
                }
                
                @media(max-width:350px) {
                    .btn-group.card_footer {
                        flex-direction: column;
                    }
                    .card .btn,
                    .outofstock {
                        border: none;
                        border-top: 1px ridge #8c40a4;
                    }
                    .price-t {
                        padding: 3px;
                    }
                    .card .btn,
                    .price-t,
                    .outofstock {
                        width: 100%;
                        font-size: 14px;
                    }
                    .simple-page img.bugs {
                        width: 15.25rem;
                    }
                    #checkout button.btn.btn-secondary {
                        border-top: none;
                        border: 1px ridge #8c40a4;
                        border-radius: 0px 0px 10px 10px;
                        /* border-top: none; */
                        margin: auto;
                    }
                }
                
                @media(max-width:300px) {
                    .quote p {
                        padding: 1.5rem 0rem 0.5rem;
                        font-size: 15px;
                    }
                    .text-right {
                        font-size: 14px;
                    }
                    .quote img {
                        width: unset;
                        height: 70px;
                    }
                    .swiper-slide {
                        width: 100%;
                    }
                    a.nav-link i,
                    ul li button.btn.dropdown-toggle i {
                        font-size: 1.4em !important;
                        padding: 4px;
                    }
                }
                
                @media(max-width:280px) {
                    .simple-page img.bugs {
                        width: 11.25rem;
                    }
                }
                /* Responsive END */

                .ssss{
                    color: #FFF;
                }
                .ssss{
                    color: #FFF;
                }.ssss:hover{
                color: #d169f2;
                }.clicked{
                    color: #d169f2;

                }.non{
                    display: none;
                }
                .ra .checked { color: #d169f2;}